:root {
    --navy: #31496a;
    --navynew: #17c0eb;
    --white: #fff;
    --pinkflat: #f14e95;
    --bg: #c8e1ee;
    --bgnavyblue: #1a237e; /* Warna navy blue */
    --transparent: rgba(0, 0, 0, 0);;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5)
}

* {
  box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 2000px;
    overflow-x: hidden!important;
}

.text-navy {
  color: var(--navy)!important;
  font-weight: bold;
}

.bg-navy {
  background: var(--navy)!important;
  font-weight: bold;
}

video, img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Container untuk video */
.video-container {
  position: absolute; /* Agar berada di belakang konten */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Agar berada di bawah konten */
  overflow: hidden;
}

/* Video Background */
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Menjaga video tetap terjaga proporsinya */
}

.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Overlay hitam transparan */
}


/* Gradasi hitam */
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)); /* Gradasi hitam */
  z-index: 1;
  overflow: hidden;
}

/* Hero Section */
.hero {
  position: relative;
  min-height: 100vh; /* Menyesuaikan dengan tinggi layar */
  color: white;
  text-align: center;
  z-index: 1; /* Agar konten berada di atas video */
  overflow: hidden!important;
}

/* Hero Section Gambar (Overlay) */
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('img/bg-blue.jpg'); Gambar Overlay */
  /* background-image: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 255, 0, 0.5)), url('img/bg-blue.jpg');  */
  /* background-image: url('img/bg-blue.jpg'), linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Agar gambar berada di bawah konten */
  /* opacity: 0.5; Transparansi untuk efek gradasi */
}

.hero h2 {
    /* color: var(--navy); */
    color: var(--white);
}
.hero h1 {
    font-family: "Sacramento", cursive;
    /* font-family: "Gorditas", cursive; */
    font-size: 6rem;
    font-weight: 700;
    font-style: normal;
    /* color: var(--navy); */
    color: var(--white);
}

.hero h3 {
    /* color: var(--navy); */
    color: var(--white);
}

.hero p {
    /* font-size: 1.4rem; */
    font-size: 2rem;
    /* color: var(--navy); */
    color: var(--white);
}

.hero p span {
  /* font-family: "Sacramento", cursive; */
  font-family: "Gorditas", cursive;
  font-weight: 700;
  text-decoration: underline;
}

.hero a {
    transition: all 0.3s ease-in-out;
    color: var(--white);
    /* background-color: var(--navy); */
    background-color: var(--pinkflat);
    /* background-color: var(--navynew); */
    box-shadow: var(--shadow);
    border-radius: 10% 20%;
}

.hero a:hover {
    /* transition: 0.7s ease-in-out; */
    transform: scale(1.1);
    background-color: var(--white);
    /* background-color: #ff5f7e; */
    color: var(--pinkflat);
    border-color: var(--navy);
}

/* Home */
.home {
  position: relative;
  background-image: url(img/bg-pattern.jpg);
  background-position: var(--bg);
  background-size: cover;
  min-height: 100vh; 
  /* padding-top: 10rem; */
  padding-bottom: 5rem;
}

.home h2,
.info h2,
.rsvp h2, 
.tema h2 {
  color: var(--navy);
  /* font-family: 'Sacramento'; */
  font-family: "Gorditas", cursive;
  font-size: 5rem;
  font-weight: bold;
}

.home h2 {
  color: var(--bg);
}

.home h3.special {
  color: var(--navy);
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.home h3 {
  color: var(--navy);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: var(--navy);
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: 'Sacramento';
  /* font-family: "Gorditas", serif; */
  font-size: 3.6rem;
  color: var(--navy);
}

.home .heart {
  width: 50px;
  height: 50px;
  /* background-color: var(--navy); */
  background-color: var(--navy);
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(105px);
  z-index: 999;
}

.home .heart i {
  margin: auto;
  color: var(--bg);
}

/* Info */
.info,
.tema {
  background-color: var(--bg);
  color: var(--navy);
  /* padding-top: 10rem; */
  padding-bottom: 8rem;
}

.info {
  /* background-image: url(img/bg-primary.jpg); */
  /* background-position: var(--bg); */
  background-color: #fff;
  background-image: url();
  background-size: cover;
  background-position: center;
}
.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: var(--navy);
  color: var(--bg);
  border: 1px solid var(--navy);
}

.info .card-header {
  border-bottom: 1px solid var(--navy);
  background-color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--navy);
}

.info .card-body {
  font-size: 1rem;
  color: var(--navy);
}

.info .card-footer {
  border-top: 1px solid var(--navy);
  font-size: 0.9rem;
  font-weight: 300;
}

/* Galeri */
.galeri {
  background: var(--bgnavyblue);
  color: #fff;
  overflow: hidden;
  /* padding-bottom: 50px; */
}

.galeri h2,
.gifts h2 {
  /* font-family: "Gorditas", cursive; */
  font-family: "Fleur De Leah", "Gorditas", cursive;
  font-weight: bold;
}

.galeri h1,
.galeri span,
.gifts h1,
.gifts span {
  font-family: "Gorditas", cursive;
  font-weight: bold;
}

.galeri h2,
.gifts h2 {
  font-size: 4rem;
}

.galeri span,
.gifts span {
  font-size: 2rem;
}

/* Gifts */
.gifts {
  height: 80vh;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--navy);
}

/* rsvp */
.rsvp {
  /* padding-top: 10rem; */
  padding-top: 6.5rem;
  padding-bottom: 8rem;
  font-size: 1rem;
  font-weight: 300;
  /* background-color: var(--bg); */
  background-image: url(img/bg-blue.jpg);
  background-size: cover;
  background-position: center;
}

.rsvp h2 {
  font-size: 4.5rem;
}

.rsvp p {
  color: var(--navy);
  font-size: 1rem;
  font-weight: 300;
}

.rsvp form label {
  color: var(--navy);
}

.rsvp button {
  background-color: var(--navy);
  color: var(--bg);
  border: 1px solid var(--navy);
}

.rsvp button:hover {
  background-color: white;
  color: var(--navy);
  border: 1px solid white;
}

/* Footer */
footer {
  padding: 3rem;
  background-color: var(--navy);
  color: var(--bg);
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: var(--bg);
}

/* Responsive */

/* Extra Large */
@media (max-width: 1200px) {
  /* .hero {
    top: -1400px;
  } */
  .home .heart {
    transform: translateX(-50%) translateY(65px);
  }
}

/* Laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    /* .hero {
      top: -400px;
    } */
    .simply-countdown>.simply-section {
        padding: 70px;
    }

    .home .heart {
      display: none;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    /* .hero {
      top: -400px;
    } */

    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 5px;
    }    
}

/* Mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }    
    /* .hero {
      top: -400px;
    } */
    .simply-countdown>.simply-section {
        /* padding: 45px; */
        padding: 35px;
        margin: 3px;
    }
}

/* Ornament */
.couple .img-ornament {
    width: 230px;
    border: none;
    margin: 0 auto!important;
}

.couple img {
  width: 100%;
  border-radius: 100%;
  /* border: #9a82cf 3px solid; */
  border: var(--navy) 3px solid;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.wave-container {
    position: relative;
    width: 100%;
    height: 100px; /* Sesuaikan tinggi wave */
    overflow: hidden;
    background: var(--white); /* Warna background di belakang wave */
    /* transform: rotate(180deg); */
}

.wave {
    fill: #95afc0; /* Ubah warna sesuai kebutuhan */
}

.wave-container-rsvp {
    position: relative;
    width: 100%;
    height: 100px; /* Sesuaikan tinggi wave */
    overflow: hidden;
    background: var(--white); /* Warna background di belakang wave */
    transform: rotate(180deg);
}

.wave-rsvp {
    fill: #95afc0; /* Ubah warna sesuai kebutuhan */
}

.icon-text {
  display: flex;
  align-items: flex-start; /* Menyamakan tinggi awal */
  gap: 10px; /* Jarak antara ikon dan teks */
  margin-bottom: 10px; /* Jarak antar elemen */
}

.icon-text i {
  font-size: 20px; /* Ukuran ikon */
  min-width: 30px; /* Membuat ikon tetap sejajar */
  text-align: center;
}

.icon-text span {
  flex: 1; /* Membuat teks mengisi ruang yang tersisa */
  font-size: 15px; /* Ukuran teks lebih besar */
  line-height: 1.6; /* Spasi antar baris lebih nyaman dibaca */
}

.galeri-wrapper,
.galeri-wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.goyang-kiri-footer {
  transform: scaleY(-1); /* Mirror effect */
}

.goyang-kanan-footer {
  transform: scale(-1); /* Mirror effect */
}

.goyang-kiri img,
.goyang-kiri-footer img {
  animation-name: goyang-kiri;
    animation-duration: 5s;
    /*rotate point*/
    transform-origin: left top;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes goyang-kiri{
    0%{ transform: rotate(0deg)scale(1);}
    25%{ transform: rotate(-8deg)scale(1.18);}
    75%{ transform: rotate(8deg)scale(1);}
}

.goyang-kanan {
  transform: scaleX(-1); /* Mirror effect */
}

.goyang-kanan img,
.goyang-kanan-footer img {
  animation-name: goyang-kanan;
    animation-duration: 5s;
    /*rotate point*/
    transform-origin: left top;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes goyang-kanan{
    0%{ transform: rotate(0deg)scale(1);}
    25%{ transform: rotate(-8deg)scale(1.18);}
    75%{ transform: rotate(8deg)scale(1);}
}


/* GIFTS */
.card-container {
  width: 400px;
  height: 250px;
  background: black;
  border-radius: 15px;
  color: white;
  padding: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.card-container-dana {
  width: 400px;
  height: 250px;
  background: rgb(26, 114, 237);
  border-radius: 15px;
  color: white;
  padding: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.chip {
  width: 50px;
  height: 40px;
  background: silver;
  border-radius: 5px;
}
.card-number {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-top: 20px;
}
.btn-copy {
  background: #fff;
  color: #000;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Extra Large */
@media (max-width: 1200px) {
  .card-container {
    width: 400px;
    height: 250px;
  }

  .card-container-dana {
    width: 400px;
    height: 250px;
  }
}

/* Laptop */
@media (max-width: 992px) {
  .card-container {
    width: 400px;
    height: 250px;
  }

  .card-container-dana {
    width: 400px;
    height: 250px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .card-container {
    width: 400px;
    height: 250px;
  }

  .card-container-dana {
    width: 400px;
    height: 250px;
  }
}

/* Mobile phone */
@media (max-width: 576px) {
  .card-container {
    width: 280px;
    height: 240px;
  }

  .card-container-dana {
    width: 280px;
    height: 240px;
  }
}